[aria-hidden="true"]
{
  visibility: hidden;
}

.Drawer
{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  transform: translate(100vw, 0);
  will-change: transform, visibility;
  transition: transform 0.3s linear;
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
}

.Drawer[aria-hidden="false"]
{
  transform: translate(0, 0);
  transition: transform 0.7s linear;
}

.Drawer[aria-hidden="true"]
{
  transition: visibility 0s linear 0.7s, transform 0.7s linear;
}

#InfoPage
{
  margin: 0;
  padding: 1% 3% 1% 1%;
}

#InfoPage .content
{
  padding: 20px;
  width: 100%;
  height: 100%;
  border: 2px solid white;
}

#InfoPage .pageHeader .image img
{
  width: 100%;
}

#InfoPage .pageHeader .name
{
  display: flex;
  align-items: center;
}

#InfoPage .pageHeader .name h1
{
  width: 100%;
  font-size: 4rem;
}

#InfoPage .pageHeader .exit
{
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 4%;
}

#InfoPage .pageHeader .exit img
{
  width: 20px;
  height: 20px;
}

#InfoPage .tabPage
{
  margin: 10px 0px 0px 0px;
}

#InfoPage .tabPage .tab
{
  cursor: pointer;
  background-color: #000;
  border: 1px solid #282828;
}

#InfoPage .tabPage .tab.active
{
  border-bottom: 0;
}

#InfoPage .page.active
{
  display: block;
  background-color: #000;
  border: 1px solid #282828;
  border-top: 0;
}

#InfoPage .page:not(.active)
{
  display: none;
}
